body {
    background-color: rgb(0, 218, 221);
}

h1 {
    padding-top: 2em;
    padding-bottom: 2em;
    color: whitesmoke;
    font-family: Arial Narrow;
}

a {
    padding-bottom: 2em;
    color: whitesmoke;
}

a:hover {
    color: whitesmoke;
}